#pHeaderShowHideP {
  width: 50px;
  text-align: center;
  height: 100%;
  position: absolute;
}

#pHeaderMsgDiv, .pHeaderMsgDiv {
	font-size: 28px;
	top: 34px;
	position: absolute;
	margin-left: 60px;
	color: #666;
	font-weight: 600;
    font-style: italic;
}

#pHeaderImgDiv {
	margin: 33px 7px 0 10px;
}

#pHeaderImg {
	width: 300px;
}

#pHeaderLogoutDiv {
	position: absolute;
	right: 8px;
	top: 26px;
}

#pHeaderShowHideP:hover {
  background-color: #E2E2E2;
}

#pHeaderShowHideP p {
  margin-top: 40px;
}