.pLeftOuterDiv {
  margin: 4px;
}

.pLeftOuterDiv i, .pLeftOuterDiv img {
  padding-right: 5px;
}

.pLeftOuterDiv ul li {
  height: 50px;
  border-bottom: 1px solid #ebebeb;
}

.pLeftOuterDiv ul li:last-child {
  border-bottom: none;
}

.pLeftOuterDiv ul li a {
  height: 100%;
  padding-top: 15px;
}