#pULDiv thead tr {
  background-color: #5F9EA0;
}

#pULDiv tbody tr:hover {
  background-color: #CCFFCC;
}

.table tbody tr:nth-child(odd) {
	background-color: #DEDEDE;
}

.table tbody tr:nth-child(even) {
	background-color: #CCCCCC;
}

#pULContentTable {
  margin-bottom: 0;
}

.pULIDThTd {
	width: 103px;
	min-width: 103px;
}

.pULEmailThTd {
	width: 172px;
	min-width: 172px;
}

.pULPasswordThTd {
	width: 276px;
	min-width: 276px;
}