#pULDiv thead tr {
  background-color: #5F9EA0;
}

#pULDiv tbody tr:hover {
  background-color: #CCFFCC;
}

.table tbody tr:nth-child(odd) {
	background-color: #DEDEDE;
}

.table tbody tr:nth-child(even) {
	background-color: #CCCCCC;
}

#pULContentTable {
  margin-bottom: 0;
}

#pULHeaderTable thead tr th:nth-child(-n+3) {
	border-right-style: hidden;
}

#pULJSPTableDiv, #pULJSTableDiv {
	min-width: 450px;
}