#pULJSPTableDiv {
  max-height: 320px;
}

#pULJSPTable {
  margin: auto;
}

#pULDiv thead tr {
  background-color: #5F9EA0;
}

#pULDiv tbody tr:hover {
  background-color: #CCFFCC;
}

.table tbody tr:nth-child(odd) {
	background-color: #DEDEDE;
}

.table tbody tr:nth-child(even) {
	background-color: #CCCCCC;
}

.width21percent {
  width: 21%;
}

.width24percent {
  width: 24%;
}

#pULTableContentDiv {
  max-height: 260px;
  overflow: auto;
}

#pULTableTitleDiv {
  height: 38px;
}

.table thead tr th:nth-child(-n+3) {
	border-right-style: hidden;
}