#pVEForm {
  padding: 50px 0 0 50px;
}

#pVEForm .form-group {
  width: 50%;
}

#pVEForm .col-sm-10 {
  width: 80%;
}

#pVEForm .col-sm-10:nth-child(1) {
  text-align: right;
  width: 64%;
  padding-right: 0px;
}

#pVEForm .col-sm-10:nth-child(2) .form-control {
  width: 55%;
}

#pVEForm .col-sm-2 {
  width: 20%;
}

#pVEForm .error {
  display: inline-block;
}

#invalid {
  display: none;
}