<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

<!--   <appender name="Daily-Web" class="org.apache.log4j.DailyRollingFileAppender"> -->
<!--     <param name="File" value="/home/www/logs/tomcat/dsp_flex/dsp_flex.log" /> -->
<!--     <param name="Append" value="true" /> -->
<!--     <param name="Encoding" value="UTF-8" /> -->
<!--     <param name="DatePattern" value="'.'dd-MM-yyyy" /> -->
<!--     <layout class="org.apache.log4j.PatternLayout"> -->
<!-- 	  <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" /> -->
<!-- 	</layout> -->
<!--   </appender> -->

  <logger name="com.lj.mcliu" additivity="true">
    <level value="DEBUG" />
  </logger>

  <logger name="java.sql.Connection" additivity="true">
    <level value="DEBUG" />
  </logger>

  <logger name="java.sql.PreparedStatement" additivity="true">
    <level value="DEBUG" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="Console" />
<!--     <appender-ref ref="Daily-Web" /> -->
  </root>
</log4j:configuration>

