.container {
  /* max-width: none !important; */
  padding: 0 20px
}

* {
  outline: none !important;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 13px;
}

.margin-top-30 {
  margin-top: 30px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.widget.box.box-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom-color: #ccc
}

.widget.box {
  border: 1px solid #d9d9d9;
}

.widget {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.widget.box .widget-content {
  padding: 10px;
  position: relative;
  background-color: #fff;
}

.statbox .widget-content:before,.statbox .widget-content:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

.statbox .visual.red {
  background-color: #e25856;
}

.statbox .visual {
  min-width: 20px;
  min-height: 17px;
  padding: 13px;
  text-align: center;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.statbox .title,.statbox .value {
  text-align: right;
  padding-right: 3px;
}

.statbox .title {
  color: #adadad;
  display: block;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 3px;
}

.statbox .title+.value {
  margin-top: -3px;
}

.statbox .title,.statbox .value {
  text-align: right;
  padding-right: 3px;
}

.statbox .value {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}

.widget-content .more {
  clear: both;
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #555;
  opacity: 0.7;
  margin: -10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #d9d9d9;
}

a {
  color: #4d7496;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-gamepad:before {
  content: "\f11b";
}

.statbox .visual {
  min-width: 20px;
  min-height: 17px;
  padding: 13px;
  text-align: center;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.widget-content .more i {
  /* margin-top: 2px; */
  margin-bottom: -3px;
}

.pull-right {
  float: right;
}

.widget-content .more {
  clear: both;
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #555;
  opacity: 0.7;
  margin: -10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #d9d9d9;
}

#pGameOutDiv a {
  text-decoration: none;
}