#pQRCodeDiv {
	min-width: 900px;
}

.div-qr-code {
  min-width: 500px;
  min-height: 100px;
  margin: auto;
  float: none;
  border: 1px solid #ddd;
}

#div-qrcode-show {
  margin: auto;
}

.label-width-tip {
	text-align: left !important;
	color: #3071a9;
}